html, body {
  font-family: inter, sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
}


.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.container__inner {
  max-width: 1056px;
  margin: 0 auto;
}

/* ================================================= */

.header__top-inner {
  display: flex;
  align-items: center;
  padding: 26px 31px;
}

.header__top-logobox {
  display: flex;
  align-items: center;
}

.header__top-logoimg {
  margin-right: 8px;
}

.header__top-logotext {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
}

.header__top-list {
  align-items: center;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #72787D;
  margin-left: auto;
}



.header__item-text:hover {
  color: #036FC7;
}

.header__top-item {
  margin-right: 22px;
}

.header__top-item:last-child {
  margin-right: 0px;
}

.haeder__top-button {
  font-family: Arial, sans-serif;
  padding: 9px 20px;
  background: #212B31;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  color: #FFFFFF;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  margin-left: 20px;
}

/* ================================================= */

.header__body-inner {
  margin: 74px 0px 148px 0px;
}

.header__body-title {
  text-indent: 17px;
  margin: 0px auto 30px auto;
  max-width: 818px;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #212B31;
  text-align: center;
}

.header__body-box {
  min-height: 50px;
  max-width: 331px;
  display: flex;
  margin: 0 auto 88px auto;
}

.header__body-button {
  align-items: center;
}

.button__black {
  font-family: 'Arial';
  display: block;
  margin-right: 16px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  padding: 13px 25px;
  background: #212B31;
  color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
}

.button__empty {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 25px;
  border: 1px solid #DADEDF;
  border-radius: 4px;
}

.header__body-img {
  margin: 0 auto;
  display: block;
}

.header__body-secondimg {
  margin: 0 auto;
  display: block;
}

/* ======================================================= */

.main__directions-list {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main__directions-item {
  margin-right: 41px;
}

.main__directions-item:nth-child(2) {
  margin-top: 23px;
}

.main__directions-item:nth-child(3) {
  margin-right: 0px;
}

.main__directions-icon {
  margin-bottom: 20px;
}

.main__directions-title {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #212B31;
}

.main__directions-text {
  max-width: 325px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}

/* ============================ */

.main__chaos-inner {
  margin-top: 142px;
  text-align: center;
}

.main__chaos-title {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 16px;
}

.main__chaos-text {
  margin: 0 auto;
  max-width: 1015px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
  margin-bottom: 40px;
}

.main__chaos-img {
  height: auto;
  width: 100%;
}

/* ============================== */

.main__order-inner {
  display: flex;
  padding-bottom: 71px;
}

.main__order-title {
  text-align: center;
  max-width: 781px;
  margin: 144px auto 165px auto;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.main__order-box {
  position: relative;
}

.main__order-subtitle {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #212B31;
}

.main__order-text {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;

}

.main__order-subtext {
  max-width: 238px;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #212B31
}

.main__order-subtext::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 238px;
  background-color: #FFD042;
  top: 14px;
  z-index: 1;
}


.subtext__inner {
  position: relative;
  z-index: 20;
}

/* ================================== */
.main__brands {
  padding-bottom: 78px;
}

.main__brands-line {
  height: 1px;
  width: 1088px;
  background: #EEF2F3;
  margin: 0 auto;
}


.main__brands-list {
  margin: 56px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px 39px;
  flex-wrap: wrap;
}


.main__brands-img {
  max-width: 180px;
}


/* ===================================== */
.main__info-box {
  text-align: center;
}

.main__box-title {
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.main__box-text {
  max-width: 827px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
}


.main__info-top {
  display: flex;
  padding-top: 28px;
  margin-right: 63px;
}

.main__top-title {
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.main__top-text {
  max-width: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}

.main__top-box {
  margin-top: 70px;
  margin-right: 91px;
}

.main__center-box {
  margin-top: 67px;
  margin-left: 101px;
}

.main__info-center {
  display: flex;
  padding-top: 64px;
  margin-left: 82px;
}

.main__center-title {
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.main__center-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}



.main__bottom-box {
  margin-right: 34px;
  margin-top: 55px;
}

.main__info-bottom {
  display: flex;
  padding-top: 64px;
  margin-right: 56px;
}

.main__bottom-title {
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.main__bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}



/* ============================================ */

.main__delivery-inner {
  padding-top: 143px;
}

.main__delivery-box {
  text-align: center;
}

.main__delivery-title {
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.main__delivery-text {
  margin: 0 auto 43px auto;
  max-width: 643px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;

}

.main__delivery-directions {
  margin-bottom: 22px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: repeat(3, 1fr);
  gap: 33px 27px;
  justify-content: center;
  display: grid;
  flex-wrap: wrap;
}

.main__delivery-item {
  display: flex;
  position: relative;
  max-width: 270px;
}

.item__img {
  position: absolute;
}

.item__box {
  margin-left: 64px;
}


.item__box-title {
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #212B31;
}

.item__box-text {
  max-width: 270px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}

.main__delivery-lasttext {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
}

.delivery__lasttext {
  position: relative;
  font-size: 20px;
  line-height: 32px;
  color: #212B31;
}

.delivery__lasttext::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 100%;
  background-color: #FFD042;
  top: 14px;
  z-index: 1;
}

.lasttext {
  position: relative;
  z-index: 20;
}

/* ========================== */

.main__reliability-inner {
  padding-top: 134px;
  padding-bottom: 144px;
}

.main__reliability-box {
  text-align: center;
}

.main__reliability-title {
  position: relative;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.main__reliability-title::after {
  position: absolute;
  content: "";
  display: block;
  width: 42px;
  height: 40px;
  left: 609px;
  bottom: 27px;
  background-image: url(/images/sheet.svg);
}

.main__reliability-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
}

.main__reliability-directions {
  margin: 48px auto 0px auto;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0 33px;
}

.main__direction-img {
  margin-bottom: 19px;
}

.main__direction-title {
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #212B31;
}

.main__direction-text {
  max-height: 144px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}

.main__reliability-construction {
  margin-top: 62px;
  padding: 40px 40px;
  background: #F6F8F9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}


.main__construction-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #212B31;
}

.main__construction-text span {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #212B31;
}

.main__construction-btn {
  background: #FFFFFF;
  padding: 13px 26px;
  border: 1px solid #DADEDF;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #212B31;
}

/* ========================================== */

.main__created-inner {
  padding-top: 143px;
  padding-bottom: 118px;
  background: #212B31;
}

.main__created-left-box {
  display: flex;
}


.main__created-left {
  min-width: 589px;
}

.main__created-title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}

.main__created-list {
  padding-bottom: 26px;
}

.list__created {
  margin-left: 40px;

}


.list__created-title {
  margin-bottom: 10px;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.list__created-title::before {
  content: "";
  position: absolute;
  display: block;
  height: 8px;
  width: 8px;
  left: -40px;
  top: 8px;
  background: #FFFFFF;
  border-radius: 8px;
}

.lsit__created-text {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.75);
}

.main__created-btnbox {
  align-items: center;
  display: flex;
}

.main__created-white {
  font-family: Arial, sans-serif;
  padding: 13px 25px;
  background: #FFFFFF;
  border: 1px solid #DADEDF;
  border-radius: 4px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #212B31;
  margin-right: 16px;
}

.main__created-empty {
  padding: 13px 25px;
  border: 1px solid #DADEDF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.main__created-img {
  max-width: 618px;
  max-height: 493px;
  position: relative;
  display: block;
  left: 53px;
}

.main__created-direction {
  margin-top: 229px;
  text-align: center;
  display: flex;
  gap: 0px 18px;
}

.created__direction-img {
  margin-bottom: 20px;
}

.created__direction-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.created__direction-text {
  max-width: 340px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.75);
}

/* =========================================== */

.main__work-inner {
  padding-top: 143px;
  display: flex;
}


.work__left-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #212B31;
}

.work__left-text {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
}


.main__work-right {
  margin-left: auto;
}


.work__list-item {
  display: flex;
  margin-bottom: 30px;
}


.work__list-box {
  margin-left: 16px;
}

.work__list-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #212B31;
}

.work__list-text {
  max-width: 448px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}

.work__right-btnbox {
  display: flex;
}


/* ========================================= */
.main__need-boxcenter {
  display: flex;
}


.main__need-inner {
  padding: 96px 0px 98px 0px;
  margin-left: 192px;
  margin-right: 98px;
}

.main__need-box {
  text-align: center;
  margin-bottom: 55px;
}

.main__need-title {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #212B31;
}

.main__need-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #212B31;
}

.main__need-left {
  max-width: 458px;
}

.need__left {
  margin-right: 78px;
}


.need__left-item {
  display: flex;
}

.need__left-img {
  margin-right: 16px;
}

.need__left-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #212B31;
}

.need__left-text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}


.swiper {
  max-width: 614px;
  position: relative;
  max-height: 516px;
}


.swiper-slide {
  padding: 60px 92px 56px 87px;
  background: #F6F8F9;
}

.need__right-title {
  position: relative;
  z-index: 10;
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  color: #212B31;
}

.need__right-people {
  display: flex;
  align-items: center;
  margin-top: 28px;
}


.need__right-box {
  margin-left: 8px;
}

.need__right-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #212B31;
}

.need__right-lastname {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #72787D;
}

.swiper-pagination-bullet {
  background: rgba(3, 111, 199, 0.2);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #036FC7;
}

/* ============================================= */

.main__company-inner {
  padding-left: 192px;
  padding-right: 192px;
  padding-bottom: 149px;
}

.main__company-list {
  gap: 41px 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.main__company-item {
  max-width: 184px;
}

.main__company-item:nth-child(4) {
  margin-right: 25px;
}



.main__company-imgbox {
  margin-bottom: 33px;
}

.main__company-text {
  margin: 0 auto;
  max-width: 139px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #72787D;
}

/* ========================== */

.main__ready-inner {
  padding: 117px 38px;
  text-align: center;
  background-image: url(/images/ready-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main__ready-title {
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #212B31;
}

.main__ready-btnbox {
  display: block;
  display: flex;
  justify-content: center;
}

.button__black {
  display: block;
}


.main__created-white {
  display: block;
}


/* ==================================== */

.footer__inner {
  padding-top: 150px;
  padding-bottom: 160px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__item-title {
  margin-bottom: 22px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212B31;
}

.footer__item-logo {
  align-items: center;
  display: flex;
}

.footer__logo {
  margin-right: 8px;
}

.footer__logo-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #212B31;
}

.footer__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #72787D;
  display: flex;
  flex-direction: column;
}

.footer__item-text:hover {
  color: #036FC7;
}

.footer__item-phone {
  margin-bottom: 12px;
}

.footer__bottom-text:hover {
  color: #036FC7;
}

.footer__bottom-line {
  height: 1px;
  max-width: 1056px;
  background: #DADEDF;
}

.footer__box-bottom {
  padding: 32px 0px;
  display: flex;
  justify-content: space-between;
}

.footer__bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;

}

.menu-mobile {
  display: none;
}

.menu-btn {
  display: none;
}

/* ===================================== */

@media (max-width: 1462px) {
  .need__right-title {
    font-size: 25px;
  }
}

@media (max-width: 1398px) {
  .need__right-title {
    line-height: 40px;
  }

  .swiper-slide {
    padding: 40px 60px 36px 40px;
  }
}

@media (max-width: 1288px) {
  .header__top-list {
    display: none;
  }

  .menu-mobile {
    display: none;
  }

  .menu-btn {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  .menu-btn span {
    height: 3px;
    width: 100%;
    background-color: #212B31;
  }

  .menu-btn.menu--white span {
    background-color: #DADEDF;
  }

  .haeder__top-button {
    margin-left: -20px;
    scale: 1.3;
  }

  .menu-mobile.menu--open {
    padding-left: 20px;
    align-items: center;
    gap: 30px 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(53, 53, 53);
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 5px;
  }

  .header__top-logobox {
    z-index: 25;
  }


  .header__item-text {
    color: #DADEDF;
    font-size: 30px;
  }

  .haeder__top-button {
    scale: 1.5;
  }

}

@media (max-width: 1228px) {
  .need__right-title {
    font-size: 21px;
  }

  .need__right-title {
    line-height: 30px;
  }

  .need__right-title {
    font-size: 30px;
    max-width: 435px;
    line-height: 48px;
  }
}

@media (max-width: 1204px) {
  .main__need-inner {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 1150px) {
  .main__created-img {
    display: none;
  }

  .main__created-left {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .list__created-title::before {
    display: none;
  }

  .lsit__created-text {
    max-width: 500px;
    margin: 0px auto 20px auto;
  }

  .list__created {
    margin-left: 0px;
  }

  .main__created-direction {
    margin-top: 100px;
  }
}

@media (max-width: 1057px) {
  .main__directions-text {
    font-size: 14px;
    line-height: 20px;
  }

  .main__chaos-title {
    font-size: 26px;
  }

  .main__chaos-text {
    font-size: 16px;
  }

  .main__delivery-title {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .main__delivery-text {
    font-size: 16px;
    line-height: 26px;
  }

  .main__delivery-lasttext {
    font-size: 16px;
  }

  .main__reliability-title::after {
    display: none;
  }

  .main__reliability-title {
    font-size: 26px;
  }

  .main__reliability-text {
    font-size: 16px;
  }

  .lasttext {
    font-size: 16px;
  }

  .main__directions-title {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .delivery__lasttext::before {
    background: none;
  }

  .main__order-title {
    font-size: 26px;
    margin: 114px auto 125px auto;
    line-height: 40px;
  }

  .header__body-img {
    height: auto;
    width: 100%;
  }

  .main__order-inner {
    flex-direction: column;
  }


  .main__order-subtext {
    font-size: 20px;
  }

  .main__order-box {
    max-width: 800px;
  }

  .main__order-subtitle {
    font-size: 26px;
    line-height: 40px;
  }

  .main__order-text {
    font-size: 18px;
  }

  .main__box-title {
    line-height: 40px;
  }

  .main__box-title {
    font-size: 26px;
  }

  .main__box-text {
    font-size: 16px;
  }

  .main__need-boxcenter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .need__left-box {
    margin: 0 auto;
  }

  .need__left {
    margin-right: 0px;
  }

  .main__need-title {
    font-size: 26px;
    line-height: 36px;
  }

  .main__need-text {
    font-size: 16px;
    line-height: 26px;
  }

  .swiper-slide {
    display: none;
  }

  .main__company-inner {
    padding-left: 0px;
    padding-right: 0px;
  }

  .main__ready-title {
    font-size: 36px;
    line-height: 50px;
  }

  .main__ready-inner {
    padding: 117px 0px;
  }
}

@media (max-width: 1010px) {
  .main__info-top {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

  .main__reliability-text {
    line-height: 26px;
  }

  .main__reliability-construction {
    flex-direction: column;
  }

  .main__construction-img {
    margin-bottom: 20px;
  }

  .main__construction-text {
    margin-bottom: 20px;
  }

  .main__top-img {
    max-width: 402px;
  }

  .main__top-text {
    max-width: 500px;
  }

  .main__info-center {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-left: 0px;
  }

  .main__info-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 0px;
  }


  .main__center-box {
    margin-left: 0px;
  }

  .main__center-img {
    max-width: 358px;
  }

  .main__center-text {
    max-width: 500px;
  }

  .main__top-box {
    margin: 0 auto;
  }

  .main__work-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main__work-right {
    margin-left: 0px;
  }

  .work__left-title {
    font-size: 26px;
  }

  .work__left-text {
    font-size: 16px;
    line-height: 26px;
  }

  .main__need-right {
    max-width: 614px;
  }
}

@media (max-width: 944px) {
  .main__company-item:nth-child(4) {
    margin-right: 0px;
  }
}

@media (max-width: 820px) {
  .main__reliability-directions {
    flex-direction: column;
  }

  .main__reliability-direction {
    max-width: 333px;
    margin-bottom: 20px;
  }

  .main__direction-title {
    font-size: 16px;
  }

  .main__direction-text {
    font-size: 14px;
  }
}

@media (max-width: 806px) {
  .header__body-secondimg {
    height: auto;
    width: 100%;
  }

  .item__box-title {
    font-size: 16px;
  }

  .item__box-text {
    font-size: 14px;
  }

  .main__created-title {
    font-size: 26px;
  }

  .list__created-title {
    font-size: 16px;
  }

  .lsit__created-text {
    font-size: 14px;
  }

  .main__created-list {
    padding-bottom: 0px;
  }

  .main__construction-text {
    text-align: center;
  }

  .footer__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer__list-item {
    margin-bottom: 20px;
  }

  .footer__item-title {
    margin-bottom: 0px;
  }

  .footer__item-text {
    margin-bottom: 2px;
  }

  .footer__item-logo {
    margin-left: 20px;
  }

  .footer__inner {
    padding-top: 30px;
    padding-bottom: 30PX;
  }
}

@media (max-width: 771px) {
  .header__body-title {
    font-size: 40px;
    line-height: 40px;
  }

  .main__created-left {
    min-width: 0px;
  }

  .main__created-direction {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .created__direction-item {
    margin-bottom: 20px;
  }

  .created__direction-title {
    font-size: 16px;
  }

  .created__direction-text {
    font-size: 14px;
  }

  .main__company-inner {
    padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .main__directions-list {
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main__directions-icon {
    margin-bottom: 5px;
  }

  .main__directions-item:nth-child(3) {
    margin-top: 23px;
    margin-right: 40px;
  }
}

@media (max-width: 500px) {
  .main__order-img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 515px) {
  .main__ready-btnbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button__black {
    max-width: 166px;
  }

  .main__created-white {
    max-width: 217px;
    margin-right: 0px;
  }


}

@media (max-width: 536px) {
  .header__item-text {
    color: #DADEDF;
    font-size: 20px;
  }

  .haeder__top-button {
    scale: 1;
  }

  .header__top-inner {
    display: flex;
    align-items: center;
    padding: 26px 20px;
  }

  .main__created-title {
    margin: 0 auto;
  }

  .work__right-btnbox {
    flex-direction: column;
    margin-right: 60px;
  }

  .button__black {
    display: block;
    margin-right: 0px;
  }

  .button__empty {
    display: block;
  }
}

@media (max-width: 482px) {
  .header__body-title {
    font-size: 35px;
    line-height: 40px;
  }

  .main__top-img {
    height: auto;
    width: 100%;
  }

  .main__bottom-img {
    width: 100%;
    height: auto;
  }

  .footer__bottom-text {
    font-size: 12px;
    max-width: 130px;
  }
}

@media (max-width: 380px) {
  .header__top-logotext {
    font-size: 18px;
  }

  .main__center-img {
    max-width: 100%;
    height: auto;
  }

  .header__top-logoimg {
    width: 20px;
    height: 100%;
  }

  .header__body-inner {
    margin: 30px 0px 70px 0px;
  }

  .header__body-box {
    margin-bottom: 30px;
  }

  .header__body-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button__black {
    margin-bottom: 15px;
  }

  .button__empty {
    margin-right: 17px;
  }

  .main__created-btnbox {
    display: flex;
    flex-direction: column;
  }

  .main__created-white {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

@media (max-width: 334px) {
  .header__top-logotext {
    font-size: 16px;
  }

  .header__body-title {
    text-indent: 0px;
  }

  .main__box-title {
    font-size: 26px;
    line-height: 30px;
  }

  .main__box-text {
    font-size: 18px;
  }

  .main__info-box {
    padding-left: 15px;
  }

  .work__left-img {
    height: auto;
    width: 100%;
  }

  .work__list-img {
    width: 30px;
  }
}
@media (max-width: 320px){
  .header__body-title{
    font-size: 30px;
  }
  .header__body-inner{
    margin-top: 0px;
  }
  .header__body-button{
    margin-right: 0px;
  }
}